<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Prime Factor Results</h2>

    <p>x = <%= @x %></p>
    <p>Prime Factors = <%= inspect @y %></p>
  </div>
</div>
